/* -------- Color variations ------ */

$primary-color  : #3D86BF;
$primary-color2 : #4296CB;
$primary-color3 : #4285BC;
$text-color     : #182333;

$white-color      : #ffffff;
$off-white-color  : #F5F8FA;
$grey-color       : #00000029;
$dark-grey-color  : #959595;