.about {
  justify-content: center;
  padding: 40px 90px 217px 90px;
  h2 {
    color: $text-color;
    text-align: center;
    font-size: 46px;
    font-weight: 600;
    font-family: $font-family;
  }
  div {
    justify-content: center;
    align-items: center;
    gap: 87px;
    h1 {
      color: $text-color;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
      font-family: $font-family;
    }
    p {
      text-align: left;
      font-size: 18px;
      font-weight: normal;
      font-family: $font-family;
      letter-spacing: 0px;
      color: $text-color2;
      word-wrap: break-word;
    }
    .logo {
      display: flex;
      justify-content: start;
      img {
        width: 236px;
        height: 370px;
      }
    }
  }
}

@media (max-width: 600px) {
  .about {
    padding: 24px !important;
    h2 {
      text-align: left;
      font-size: 25px;
      font-weight: bold;
      font-family: $font-family;
    }
    div {
      margin-top: 18px;
      .logo {
        display: none;
      }
      p {
        font-size: 16px;
        font-weight: normal;
        font-family: $font-family;
      }
    }
  }
}
