.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 90px;
  background-color: $white-color;
  div {
    justify-content: center;
    align-items: center;
    gap: 147px;
    .text {
      h1 {
        color: $text-color;
        text-align: left;
        font-size: 46px;
        font-weight: 600;
        font-family: $font-family;
        letter-spacing: 0px;
      }
      p {
        text-align: left;
        font-size: 22px;
        font-weight: normal;
        font-family: $font-family;
        letter-spacing: 0px;
        color: $text-color2;
        word-wrap: break-word;
      }
    }
    .logo {
      img {
        width: 384px;
        height: 371px;
      }
    }
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 24px !important;
    div {
      gap: 87px !important;
      .text {
        text-align: left;
        h1 {
          font-size: 32px;
          font-weight: bold;
          font-family: $font-family;
        }
        p {
          font-size: 18px;
          font-weight: normal;
          font-family: $font-family;
        }
      }
      img {
        width: 100% !important;
        height: 257px !important;
      }
    }
  }
}
