* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Montserrat';
}

//including variables
@import "theme/variables";
@import "theme/responsive";

//custom Scss
@import "theme/header";
@import "theme/hero";
@import "theme/about";
@import "theme/footer";